/* typography */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #203864;
    background-color: #f8faff;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* ============================== */
/*=====home section start======== */
/* ============================== */
.header-area{
    background: #ffffff;
    box-shadow: 14px 4px 23px 0px rgba(0, 0, 0, 0.0705882353);
}
.header-main-area{
    

}
.logo{
    width: 80px;
}
/* ============================== */
/*=====home section end========== */
/* ============================== */


